{% extends "base.html" %}

{% block title %}{{ site.title }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}
<section class="group">
	<div class="col span_6_of_12">
		<div class="content-box">
			<h1>Stories</h1>
			<h2>{{ story.name }}</h2>
			<p>{{ story.description }}</p>
			<p class="date">{{ story.created_date }}</p>
		</div>
	</div>				
	<div class="col span_6_of_12">
		<div class="content-box">
			<h1>Actual Plays</h1>
			<h2>{{ game.name }}</h2>
			<p>{{ game.description }}</p>
			<p class="date">{{ game.created_date }}</p>
		</div>
c</section>
<section class="group">
	<div class="col span_6_of_12">
		<div class="content-box">
			<h1>Articles</h1>
			<h2>{{ article.name }}</h2>
			<p>{{ article.descrition }}</p>
			<p class="date">{{ article.created_date }}</p>
		</div>
	</div>
	<div class="col span_6_of_12">
		<div class="content-box">
			<h1>Library</h1>
			<h2>{{ item.name }}</h2>
			<p>{{ item.descriton }}</p>
			<p class="date">{{ item.created_date }}</p>
		</div>
	</div>
</section>
{% endblock %}