{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ site.title }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}
<div class="page frontpage">
	<div class="content">
		<ul class="content-list">
			<li class="content-list-item">
				<div class="content-box">
					<h1>Stories</h1>
					<h2><a class="lg_icon_class_stories" href="stories/{{ story.slug }}">{{ story.title }}</a></h2>
					<a href="stories/{{ story.slug }}">
					{% if story.image %}
					<img src="{{ story.image.url }}" alt="{{ story.title }}" />
					{% endif %}
					</a>
					<div>{{ story.description|safe }} 
					{% if story %}
						<span><a class="sm_icon_class_stories" href="stories/{{ story.slug }}">Read more...</a></span>
					{% endif %}
					</div>
					<div class="date">{{ story.created_date }}</div>
				</div>
			</li>		
			<li class="content-list-item">
				<div class="content-box">
					<h1>Actual Plays</h1>
					<h2><a class="lg_icon_class_actual_play" href="actual_play/{{ game_group.slug }}/{{ game.slug }}">{{ game.title }}</a></h2>
					<a href="actual_play/{{ game_group.slug }}/{{ game.slug }}">
					{% if game.image %}
					<img src="{{ game.image.url }}" alt="{{ game.title }}" />
					{% endif %}
					</a>
					<div>{{ game.description|safe }} 
					{% if game %}
						<span><a class="sm_icon_class_actual_play" href="actual_play/{{ game_group.slug }}/{{ game.slug }}">Read more...</a></span>
					{% endif %}
					</div>
					<div class="date">{{ game.created_date }}</div>
				</div>
			</li>		
			<li class="content-list-item">
				<div class="content-box">
					<h1>Articles</h1>
					<h2><a class="lg_icon_class_articles" href="articles/{{ article.slug }}">{{ article.title }}</a></h2>
					<a href="articles/{{ article.slug }}">
					{% if article.image %}
					<img src="{{ article.image.url }}" alt="{{ article.title }}" />
					{% endif %}
					</a>
					<div>{{ article.description|safe }} 
					{% if article %}
						<span><a class="sm_icon_class_articles" href="articles/{{ article.slug }}">Read more...</a></span>
					{% endif %}
					</div>
					<div class="date">{{ article.created_date }}</div>
				</div>
			</li>
			<li class="content-list-item">
				<div class="content-box">
					<h1>Library</h1>
					<h2><a class="lg_icon_class_library" href="library/{{ library_item.item_type }}/{{ library_item.slug }}">{{ library_item.title }}</a></h2>
					<a href="library/{{ library_item.item_type }}/{{ library_item.slug }}">
					{% if library_item.image %}
					<img src="{{ library_item.image.url }}" alt="{{ library_item.title }}" />
					{% endif %}
					</a>
					<div>{{ library_item.description|safe }} 
					{% if library_item %}
						<span><a class="sm_icon_class_library" href="library/{{ library_item.item_type }}/{{ library_item.slug }}">Read more...</a></span>
					{% endif %}
					</div>
					<div class="date">{{ library_item.created_date }}</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="sidebar">
		{% include 'sidebar.html' %}
	</div>
</div>
{% endblock %}