{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ site.title }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}
<div class="page">
	<div class="section-heading">
		<img src="{% static "images/" %}{{ section.title }}.png" />
	</div>
	<div class="content">
		<ul class="content-list">
			<li class="content-list-item">
				<div class="content-box">
					<h1>Stories</h1>
					<h2><a class="lg_icon_class_stories" href="stories/{{ story.slug }}">{{ story.title }}</a></h2>
					<a href="stories/{{ story.slug }}">
					{% if story.image %}
					<img src="{{ story.image.url }}" alt="{{ story.title }}" width="335" />
					{% endif %}
					</a>
					<p>{{ story.description|safe }}</p>
					<p class="date">{{ story.created_date }}</p>
				</div>
			</li>		
			<li class="content-list-item">
				<div class="content-box">
					<h1>Actual Plays</h1>
					<h2><a class="lg_icon_class_actual_play" href="actual_play/{{ game_group.slug }}/{{ game.slug }}">{{ game.title }}</a></h2>
					<a href="actual_play/{{ game_group.slug }}/{{ game.slug }}">
					{% if game.image %}
					<img src="{{ game.image.url }}" alt="{{ game.title }}" width="335" />
					{% endif %}
					</a>
					<p>{{ game.description|safe }}</p>
					<p class="date">{{ game.created_date }}</p>
				</div>
			</li>		
			<li class="content-list-item">
				<div class="content-box">
					<h1>Articles</h1>
					<h2><a class="lg_icon_class_articles" href="articles/{{ article.slug }}">{{ article.title }}</a></h2>
					<a href="articles/{{ article.slug }}">
					{% if article.image %}
					<img src="{{ article.image.url }}" alt="{{ article.title }}" width="335" />
					{% endif %}
					</a>
					<p>{{ article.description|safe }}</p>
					<p class="date">{{ article.created_date }}</p>
				</div>
			</li>
			<li class="content-list-item">
				<div class="content-box">
					<h1>Library</h1>
					<h2><a class="lg_icon_class_library" href="library/{{ library_item.item_type }}/{{ library_item.slug }}">{{ library_item.title }}</a></h2>
					<a href="library/{{ library_item.item_type }}/{{ library_item.slug }}">
					{% if library_item.image %}
					<img src="{{ library_item.image.url }}" alt="{{ library_item.title }}" width="335" />
					{% endif %}
					</a>
					<p>{{ library_item.description|safe }}</p>
					<p class="date">{{ library_item.created_date }}</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="sidebar">
		{% include 'sidebar.html' %}
	</div>
</div>
{% endblock %}