{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ site.title }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}
<div class="page accounts">
  <div class="accounts-container">
    <div class="accounts-form">
    <h1>{{ user.username }} Profile</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form id="user_form" method="post" action="/accounts/profile/{{ user.pk }}/"
    enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form user_form %}
      {{ user_form.username.as_hidden }}
      {% bootstrap_form profile_form %}
      <input type="submit" name="submit" class="btn btn-primary" value="Update" />
    </form>
    </div>
  </div>
</div>
{% endblock %}