{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ site.title }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}
<div class="page">
  <div class="section-heading">
    <img src="{% static "images/" %}{{ section.title }}.png" />
  </div>
  <div class="content">
    <h1>NonHumanUser Registration</h1>

    {% if registered %}
      <div>Thanks, for registering at nonhumanuser.com. Enjoy!<br />
      <a href="/">Return to homepage</a></div>
    {% else %}
      <div>
        <div>Register Here</div>
        <form id="user_form" method="post" action="/register/" 
          enctype="multipart/form-data">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="submit" value="Register" />
        </form>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}