dj-database-url==0.4.1
Django==1.11.23
django-annoying==0.10.1
django-bootstrap3==7.1.0
django-extensions==1.7.4
django-markdown==0.8.4
django-markdown-deux==1.0.5
django-markdown2==0.3.0
django-registration==2.1.2
django-scheduler==0.8
icalendar==3.10
Markdown==2.6.6
markdown2==2.3.1
#Pillow==3.1.1
psycopg2==2.6.1
python-dateutil==2.5.3
pytz==2016.6.1
six==1.10.0
