{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ site.title }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}
<div class="page accounts">
  <div class="accounts-container">
    <div class="accounts-form">
      <h1>nonhumanuser.com Login</h1>
        <div>
          <div>Login Here</div>
          <form id="user_form" method="post" action="/members/login/?next=/" 
            enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" name="submit" value="Login" />
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}