{% extends "base.html" %}
{% load static %}

{% block title %}{{ site.title }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}
<div class="page accounts">
  <div class="accounts-container">
    <div class="content">
      <h1>Success!</h1>
        <div>An email will be sent to you with your activation code. If you do not see the email please check your spam folder as it may have been flagged by your email service and placed there. <br /><br />Thanks, for registering at nonhumanuser.com. Enjoy!<br />
        <a href="/">Return to homepage</a></div>
    </div>
  </div>
</div>
{% endblock %}