{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.description }}{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	<article>
		<div class="center">
			<h2>{{ article.title }}</h2>
			{% if article.image %}
				<p><img src="{{ article.image.path }}" /></p>
			{% endif %}
			<p>{{ article.body }}</p>
			<p><small>{{ article.publish_date }}</small></p>
		</div>
	</article>
	<div class="comment-block">
		Comments: {{ item.comments.count }}
		{% for comment in item.itemcomment.all %}
		<div class="comment">
			<h3 class="comment-author">{{ comment.author }}</h3>
			<p>{{ comment.body }}</p>
			<p><small>{{ comment.create_date }}</small></p>
		</div>
		{% empty %}
		<p>No comments yet...</p>
		{% if user.is_authenticated %}
		<div class="comment-form">
			<form method='POST' action='/comment'>
				<filedset>
					<label>Comment</label><br />
					<textarea name="body"></textarea><br />
					<label>Name</label><br />
					<input type="text" name="author" /><br />
					<input type="submit" name="submit" value="Save" />
				</filedset>
			</form>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
<div class="sidebar">
	{% include 'sidebar.html' %}
</div>
{% endblock %}
