{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	{% for article in articles %}
		<article>
			<div class="center">
				{% if article.thumbnail %}
					<div>
						<a href="{{ article.slug }}" >
							<img class="content-image" src="{{ article.image.url }}" alt="{{ article.title }}" />
						</a>
					</div>
				{% endif %}
				<h2><a class="{{ icon_class }}" href="{{ article.slug }}" >{{ article.title }}</a></h2>
				<h5>By: {{ article.author }}</h5>
				<div>{{ article.description|safe }} 
					{% if article %}
						<span><a href="{{ article.slug }}">Read more...</a></span>
					{% endif %}
				</div>
				<div><small>{{ article.created_date }}</small></div>
			</div>
		</article>
	{% endfor %}
	{% if count > 5 %}
	<div class="archive-link"><a href="/articles/article_archive/">View more...</a></div>
	{% endif %}
</div>
<div class="sidebar">
	{% include 'blog/articles_sidebar.html' %}
</div>
{% endblock %}