{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.description }}{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	<article>
		<div class="center">
			{% if article.image %}
				<p><img class="content-image" src="{{ article.image.url }}" alt="{{ story.title }}" /></p>
			{% endif %}
			<h2 class="{{ icon_class }}">{{ article.title }}</h2>
			<div>{{ article.body|safe }}</div>
			<div><small>{{ article.publish_date }}</small></div>
		</div>
	</article>
	<div class="comment-block">
		Comments: {{ comments.count }}
		{% for comment in comments %}
		<div class="comment">
			<ul class="comment-block-list">
				<li class="comment-block-list-item-left">
					<div class="comment-image">
						{% if comment.user.profile.avatar %}
						<img src="{{ comment.user.profile.avatar.url }}" width="80"/>
						{% endif %}
					</div>
					<div class="comment-author">{{ comment.user.username }}</div>
					<div class="comment-date">{{ comment.created_date }}</div>
				</li>
				<li class="comment-block-list-item-right">
					<p class="sm_icon_class_actual_play comment-body">{{ comment.comment }}</p>
				</li>
			</ul>
		</div>
		{% empty %}
		<p>No comments yet...</p>
		{% endfor %}
		{% if user.is_authenticated %}
		<div class="comment-form">
			<form method='POST' action='comment/'>
				{% csrf_token %}
				{% bootstrap_form form %}
				<input type="hidden" name="entry_id" value="{{ article.pk }}" />
				<input type="submit" name="submit" class="btn btn-primary" value="Save" />
			</form>
		</div>
		{% else %}
		<div class="comment-form">You must <a href="/members/login/">login</a> 
		or <a href="/accounts/register">register</a> to post a comment.</div>
		{% endif %}
	</div>
</div>
<div class="sidebar">
	{% include 'sidebar.html' %}
</div>
{% endblock %}
