{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	{% for story in stories %}
	<article>
		<div class="center">
			{% if story.thumbnail %}
				<div>
					<a href="{{ story.slug }}" >
						<img class="content-image" src="{{ story.image.url }}" alt="{{ story.title }}" />
					</a>
				</div>
			{% endif %}
			<h2><a class="{{ icon_class }}" href="{{ story.slug }}" >{{ story.title }}</a></h2>
			<div>{{ story.description|safe }}
					{% if story %}
						<span><a href="{{ story.slug }}">Read more...</a></span>
					{% endif %}
			</div>
			<div><small>{{ story.publish_date }}</small></div>
		</div>
	</article>
	{% endfor %}
</div>
<div class="sidebar">
	{% include 'blog/stories_sidebar.html' %}
</div>
{% endblock %}