{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description }}{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	{% for story in stories %}
	<article>
		<div class="center">
			<h2><a href="{{ story.slug }}" >{{ story.title }}</a></h2>
			{% if story.thumbnail %}
				<p><img src="{{ story.thumbnail.url }}" /></p>
			{% endif %}
			<p>{{ story.description|safe }}</p>
			<p><small>{{ story.publish_date }}</small></p>
		</div>
	</article>
	{% endfor %}
</div>
<div class="sidebar">
	{% include 'blog/stories_sidebar.html' %}
</div>
{% endblock %}