  <div class="sidebar-block">
    <h2>Recent</h2>
    <ul class="sidebar-list">
    {% for item in items_recent %}
      <li class="sidebar-list-item">
        <a class="sidebar-inks {{ item.sidebar_icon_class }}" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    </ul>   
    <h2>Popular</h2>
    <ul class="sidebar-list"> 
    {% for item in items_popular %}
      <li class="sidebar-list-item">
        <a class="sidebar-links {{ item.sidebar_icon_class }}" href="{{ item.get_url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    </ul>
    <h2>Links</h2>
    <ul class="sidebar-list">
    {% for link in links %}
      <li class="sidebar-list-item">
        <a class="sidebar-offsite-links sm_icon_class_articles" href="{{ link.url }}" target="_blank">{{ link.link }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>