{% extends 'base.html' %}
{% load staticfiles %}
{% load md2 %}

{% block title %}{{ story.title }}{% endblock %}
{% block description %}{{ story.description }}{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	<article>
		<div class="center">
			<h2>{{ story.title }}</h2>
			<p>{{ story.body }}</p>
			<div>{{ story.publish_date }}</div>
		</div>
	</article>
	<div class="comment-block">
		<div class="comment-form">
			<form method='POST' action='/comment'>
				<label>Comment</label>
				<textarea name="body"></textarea><br />
				<label>Name</label>
				<input type="text" name="author" /><br />
				<input type="submit" name="submit" value="Save" />
			</form>
		</div>
		{% for comment in comments %}
		<div class="comment">
			<h3 class="comment-author">{{ comment.author }}</h3>
			<p>{{ comment.body|markdown }}</p>
			<p><small>{{ comment.create_date }}</small></p>
		</div>
		{% endfor %}
	</div>
</div>
<div class="sidebar">
	{% include 'sidebar.html' %}
</div>
{% endblock %}
