{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ story.title }}{% endblock %}
{% block description %}{{ story.description }}{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	<article>
		<div class="center">
			<h2 class="{{ icon_class }}">{{ story.title }}</h2>
			{% if story.image %}
				<p><img class="content-image" src="{{ story.image.url }}" alt="{{ story.title }}" /></p>
			{% endif %}
			<p>{{ story.body|safe }}</p>
			<div>{{ story.publish_date }}</div>
		</div>
	</article>
	<div class="comment-block">
		Comments: {{ comments.count }}
		{% for comment in comments %}
		<div class="comment">
			<p class="sm_icon_class_actual_play">{{ comment.body }}</p>
			<span class="comment-author">{{ comment.author }}</span>
			<span><small>{{ comment.created_date }}</small></span>
		</div>
		{% empty %}
		<p>No comments yet...</p>
		{% endfor %}
		{% if user.is_authenticated %}
		<div class="comment-form">
			<form method='POST' action='comment/'>
				{% csrf_token %}
				{% bootstrap_form form %}
				<input type="hidden" name="entry_id" value="{{ story.pk }}" />
				<input type="submit" name="submit" value="Save" />
			</form>
		</div>
		{% endif %}
	</div>
</div>
<div class="sidebar">
	{% include 'sidebar.html' %}
</div>
{% endblock %}
