{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}{{ game.name }}{% endblock %}
{% block description %}{{ game.description }}{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	<article class="row1">
		<div class="center">
			<h2 class="{{ icon_class }}" >{{ game.title }}</h2>
			{% if game.image %}
				<p><img class="content-image" src="{{ game.image.url }}" alt="{{ game.title }}" /></p>
			{% endif %}
			<p>{{ game.body|safe }}</p>
			<p>
			{% if game.audio_ogg %}
				<div>Audio</div>
				<audio controls>
					{% if game.audio_ogg %}
					<source src="{{ game.audio_ogg.url }}" type="audio/ogg" />
					{% endif %}
					{% if game.audio_mp3 %}
					<source src="{{ game.audio_mp3.url }}" type="audio/mpeg" />
					{% endif %}
				</audio>
			{% endif %}
			</p>
			{% if game.video_ogv %}
			<p>
				<div>Video</div>
				<video width="320" height="240" controls>
					{% if game.video_ogv %}
					<source src="{{ game.video_ogg.url }}" type="video/ogg" />
					{% endif %}
					{% if game.video_mp4 %}
					<source src="{{ game.video_mp4.url }}" type="video/mp4" />
					{% endif %}
				</video>
			</p>
			{% endif %}
			<p>{{ game.create_date }}</p>
		</div>
	</article>
	<div class="comment-block">
		Comments: {{ comments.count }}
		{% for comment in comments %}
		<div class="comment">
			<ul class="comment-block-list">
				<li class="comment-block-list-item-left">
					<div class="comment-image">
						{% if comment.user.profile.avatar %}
						<img src="{{ comment.user.profile.avatar.url }}" width="80"/>
						{% endif %}
					</div>
					<div class="comment-author">{{ comment.user.username }}</div>
					<div class="comment-date">{{ comment.created_date }}</div>
				</li>
				<li class="comment-block-list-item-right">
					<p class="sm_icon_class_actual_play comment-body">{{ comment.comment }}</p>
				</li>
			</ul>
		</div>
		{% empty %}
		<p>No comments yet...</p>
		{% endfor %}
		{% if user.is_authenticated %}
		<div class="comment-form">
			<form method='POST' action='comment/'>
				{% csrf_token %}
				{% bootstrap_form form %}
				<input type="hidden" name="game_id" value="{{ game.pk }}" />
				<input type="submit" name="submit" class="btn btn-primary" value="Save" />
			</form>
		</div>
		{% endif %}
	</div>
</div>
<div class="sidebar">
	{% include 'sidebar.html' %}
</div>
{% endblock %}