{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ group.name }}{% endblock %}
{% block description %}{{ group.game_type }}{% endblock %}

{% block content %}

<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<section class="content">
<h1>{{ game_type }} Games</h1>
{% for game in games %}
	<article class="row{{ forloop.counter }}">
		<div class="center">
		  {% if game.thumbnail %}
			<div>
				<a href="{{ game.slug }}">
					<img class="content-image" src="{{ game.thumbnail.url }}" alt="{{ game.title }}" />
				</a>
			</div>
		  {% endif %}
			<h2><a class="{{ icon_class }}"  href="{{ game.slug }}">{{ game.title }}</a></h2>
			<div>{{ game.description|safe }}
				{% if game %}
				<span><a href="{{ game.slug }}">Listen to the game...</a></span>
				{% endif %}
			</div>
			<div><small>{{ game.created_date }}</small></div>
		</div>
	</article>
{% endfor %}
	{% if count > 5 %}
    <div class="archive-link"><a href="/actual_play/game_archive/{{ game_type_slug }}">View more...</a></div>
	{% endif %}
</section>
<div class="sidebar">
	{% include 'sidebar.html' %}
</div>
{% endblock %}
