{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ group.name }}{% endblock %}
{% block description %}{{ group.game_type }}{% endblock %}

{% block content %}

<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<section class="content">
<h1>Games</h1>
{% for game in games %}
	<article class="row{{ forloop.counter }}">
		<div class="center">
			<h2><a class="{{ icon_class }}"  href="{{ game.slug }}">{{ game.title }}</a></h2>
      {% if game.thumbnail %}
        <p><img class="content-image" src="{{ game.thumbnail.url }}" alt="{{ game.title }}" /></p>
      {% endif %}
			<p>{{ game.created_date }}</p>
		</div>
	</article>
{% endfor %}
</section>
<div class="sidebar">
	{% include 'sidebar.html' %}
</div>
{% endblock %}