{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ game.name }}{% endblock %}
{% block description %}{{ game.description }}{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	<article class="row1">
		<div class="center">
			<h2 class="{{ icon_class }}" >{{ game.title }}</h2>
			{% if game.image %}
				<p><img src="{{ game.image.url }}" alt="{{ game.title }}" width="760" /></p>
			{% endif %}
			<p>{{ game.description|safe }}</p>
			<p>
			{% if game.audio_ogg %}
				<div>Audio</div>
				<audio controls>
					{% if game.audio_ogg %}
					<source src="{{ game.audio_ogg.url }}" type="audio/ogg" />
					{% endif %}
					{% if game.audio_mp3 %}
					<source src="{{ game.audio_mp3.url }}" type="audio/mpeg" />
					{% endif %}
				</audio>
			{% endif %}
			</p>
			{% if game.video_ogv %}
			<p>
				<div>Video</div>
				<video width="320" height="240" controls>
					{% if game.video_ogv %}
					<source src="{{ game.video_ogg.url }}" type="video/ogg" />
					{% endif %}
					{% if game.video_mp4 %}
					<source src="{{ game.video_mp4.url }}" type="video/mp4" />
					{% endif %}
				</video>
			</p>
			{% endif %}
			<p>{{ game.create_date }}</p>
		</div>
	</article>
	<div class="comment-block">
		Comments: {{ item.comments.count }}
		{% for comment in item.itemcomment.all %}
		<div class="comment">
			<h3 class="comment-author">{{ comment.author }}</h3>
			<p>{{ comment.body }}</p>
			<p><small>{{ comment.create_date }}</small></p>
		</div>
		{% empty %}
		<p>No comments yet...</p>
		{% if user.is_authenticated %}
		<div class="comment-form">
			<form method='POST' action='/actual_play/comment/'>
				{{ form.as_ul }}
					<input type="submit" name="submit" value="Save" />
			</form>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
<div class="sidebar">
	{% include 'sidebar.html' %}
</div>
{% endblock %}