{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Actual Plays{% endblock %}
{% block description %}Live roleplaying sessions{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	<h1>Game Groups</h1>
	<ul class="content-list">
	{% for group in groups %}
		<li class="content-list-item">
			<div class="center">
				<h2><a href="{{ group.slug }}">{{ group.name }}</a></h2>
				<p>{{ group.created_date }}</p>
			</div>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}