{% extends 'base.html' %}
{% load static %}

{% block title %}Actual Plays{% endblock %}
{% block description %}Live roleplaying sessions{% endblock %}

{% block content %}
<div class="section-heading">
	<img src="{% static "images/" %}{{ section.name }}.png" />
</div>
<div class="content">
	<h1>Games</h1>
	<ul class="content-list">
	{% for type in game_types %}
		<li class="content-list-item">
			<div class="center">
				<h2><a href="{{ type.slug }}">{{ type.name }}</a></h2>
				<div>{{ type.description|safe }} <a href="{{ type.slug }}">Listen to games >></a></div>
				<div>{{ type.created_date }}</div>

			</div>
		</li>
	{% endfor %}
	</ul>
</div>
<div class="sidebar">
	{% include 'sidebar.html' %}
</div>
{% endblock %}