{% load static %}
<header>
	<a href="/" id="logo" alt="nonhumanuser.com"></a>
	<div class="search-container">
		<form method="GET" action='/search/'>
		<span><input type="text" name="q" class="form-control search-input" /></span>
		<span><input type="submit" name="search" value="SEARCH" class="btn btn-primary search-btn" /></span>
		</form>
	</div>
	<nav>
		<a href="#" class="menu-icon"></a>
		<ul>
			<li><a href="/stories">Stories</a></li>
			<li><a href="/articles">Articles</a></li>
			<li><a href="/library">Library</a></li>
			<li><a href="/actual_play">Actual Play</a></li>
			{% if user.is_authenticated %}
			<li><a href="/accounts/profile/{{ user.pk }}">{{ user.username }}</a></li>
			<li><a href="/members/logout/?next=/">Logout</a></li>
			{% else %}
			<li><a href="/members/login/">Login</a></li>
			<li><a href="/accounts/register">Register</a></li>
			{% endif %}
		</ul>
	</nav>
</header>